<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/images/nodejs.png" type="image/x-icon">
  <title>首页-后台管理系统</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/stylesheets/addForm.css">
  <style>
    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
  </style>
</head>
<body>
  <div class="index">
    <div class="header">
      <ul class="layui-nav">
        <li class="layui-nav-item">
          <a href="/admin">订单列表</a>
        </li>
        <li class="layui-nav-item layui-this">
          <a href="/admin/addForm">添加牛奶</a>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
          <dl class="layui-nav-child">
            <dd class="exit"><a href="javascript:;">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="body">
      <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
          <label class="layui-form-label">产品标题</label>
          <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入产品标题" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">产品图片</label>
          <div class="layui-input-block">
            <div class="layui-upload">
              <button type="button" class="layui-btn" id="updated">上传图片</button>
              <div class="layui-upload-list">
                <img class="layui-upload-img" id="updatedSrc">
                <input type="text" name="file" required lay-verify="required" placeholder="请选择产品图片" value="" class="filePath">
                <p id="updatedErr"></p>
              </div>
            </div> 
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">产品描述</label>
          <div class="layui-input-block">
            <textarea name="desc" required lay-verify="required" placeholder="请输入产品描述" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="addForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
    <div class="tips"></div>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/layui/layui.js"></script>
  <script>
    //一般直接写在一个js文件中
    layui.use(['element', 'form', 'upload'], function(){
      var element = layui.element;
      var form = layui.form;
      var $ = layui.jquery;
      var upload = layui.upload;
      // 上传文件地址


      //普通图片上传
      var uploadInst = upload.render({
        elem: '#updated',
        url: '/admin/file_upload',
        before: function(obj){
          //预读本地文件示例，不支持ie8
          obj.preview(function(index, file, result){
            $('#updatedSrc').attr('src', result); //图片链接（base64）
          });
        },
        done: function(res){
          //如果上传失败
          console.log(res);
          //表单初始赋值
          $('.filePath').val(res.userPath);
        },
        error: function(){
          //演示失败状态，并实现重传
          var demoText = $('#updatedErr');
          demoText.html('<span style="color: #FF5722;">上传失败2</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function(){
            uploadInst.upload();
          });
        }
      });

      //监听提交
      form.on('submit(addForm)', function(data){
        var title = data.field.title;
        var file = data.field.file;
        var desc = data.field.desc;
        $.ajax({
            type: "post",
            url: "/admin/addEdit",
            data: {title: title, files: file, desc: desc},
            success: function(res){
              if(res.ret_code !== 0){
                $('.tips').text(res.ret_msg).css('display','block').removeClass('button-success').addClass('button-danger');
              }else{
                $('.tips').text(res.ret_msg+',正在跳转....').css('display','block').removeClass('button-danger').addClass('button-success');
                setTimeout(function(){
                  window.location.href = '/admin/login';
                },2000)
              }
            },
            error:function(err){
              console.log(err);
            }
        });
        
      });

      // 退出
      $('.exit').click(function(){
        $.ajax({
            type: "get",
            url: "/admin/logout",
            success: function(res){
              if(res.ret_code != 0){
                $('.tips').text(res.ret_msg).css('display','block').removeClass('button-success').addClass('button-danger');
              }else{
                $('.tips').text(res.ret_msg+',正在跳转....').css('display','block').removeClass('button-danger').addClass('button-success');
                setTimeout(function(){
                  window.location.href = '/admin/login';
                },2000)
              }
            },
            error:function(err){
              console.log(err);
            }
        });
      });
    });
    </script> 
</body>
</html>
