.tips {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    left: 50%;
    margin-left: -100px;
    font-size: 14px;
    position: fixed;
    top: 10px;
    display: none;
}
.button-success{
    background: #67c23a;
}
.button-danger{
    background: #f56c6c;
}
.align-center{
    text-align: center;
}